{{!-- handlebars code for inserting into {{{body}}} element of main.handlebars --}}

    <script>
        AOS.init();
    </script>

    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 header-text-logo"> <strong>TryTech</strong></h1>
                <p class="lead header-text"> <strong>YOU'RE LOGGED IN!.</strong></p>
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{#each categories}}
                        <a class="dropdown-item" href="/categories/{{this.id}}">
                            {{this.category_name}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 howitworks">
                <h1>How it works</h1>
            </div>
        </div>

        <div class="row" data-aos="fade-right" data-aos-duration="1200">
            <div class="col-md-6 col-md-offset-3 mx-auto steps">
                <i class="fas fa-edit homepage-icons"></i>
                <h2>1. Sign Up</h2>
                Click on Sign Up button to create a TryTech account.  It's quick and simple so do it now!
            </div>
        </div>

        <div class="row" data-aos="fade-left" data-aos-duration="1200">
            <div class="col-md-6 col-md-offset-3 mx-auto steps">
                <i class="fas fa-tv homepage-icons"></i>
                <h2>2. Pick a Product</h2>
                Pick a category to start browsing all of our awesome products.  Find one you would like to try and click the try it button.  We will ship it to you quickly and pay for the shipping!
            </div>
        </div>

        <div class="row step3" data-aos="fade-right" data-aos-duration="1200">
            <div class="col-md-6 col-md-offset-3 mx-auto steps">
                <i class="fas fa-power-off homepage-icons"></i>
                <h2>3. Try It Out</h2>
                Try out your awesome gear for a full week!  When the week us up, we will provide a shipping label so all you have to do is drop it at your local Fedex.  Pretty awesome!
            </div>
        </div>


    </div>
