 {{!-- handlebars code for manager portal. To insert into {{{body}}} element of main.handlebars --}}

<div class="container manager-container">

    <h2 class="page-header">Manager Portal</h2>

    {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}} {{/if}}

    This is the Trytech administration page. Select the action to perform from the menu below.
    <br /><br />

 <div class="managerActionMenu">


            <a class="dropdown-item" href="/manager/1">Add product</a>
            <a class="dropdown-item" href="/manager/2">Update product inventory</a>
            <a class="dropdown-item" href="/manager/3">View hired items</a>
            <a class="dropdown-item" href="/manager/4">Log item returned</a>
            <a class="dropdown-item" href="/manager/5">Add product catagory</a>
            <a class="dropdown-item" href="/manager/6">Add customer</a>
            <a class="dropdown-item" href="/manager/7">Review customer</a>
           

    </div>

</div>

