<h3 class="order-header">Almost there... </h3>
<br>
<h4 class="order-subheader">What address would like your {{ product.product_name }} shipped to?</h4>
<br>
<div class="container register-container">
	
	<h2 class="page-header">Shipping Info</h2>

	{{#if errors}}
	      {{#each errors}}
	        <div class="alert alert-danger">{{msg}}</div>
	      {{/each}}
	{{/if}}

	<form method="post" action="/order-success">
		<div class="form-group">
	    <label>Full Name (as you would like it to appear on your shipping label)</label>
	    <input type="text" class="form-control" placeholder="ex: Joseph Smith" name="fullName" required>
	  </div>
	  <div class="form-group">
	    <label>Street Address</label>
	    <input type="text" class="form-control" placeholder="ex: 123 Main St." name="addressStreet" required>
	  </div>
	  <div class="form-group">
	    <label>City</label>
	    <input type="text" class="form-control" placeholder="City" name="addressCity" required>
	  </div>
	   <div class="form-group">
	    <label>State</label>
	    <input type="text" class="form-control" placeholder="State" name="addressState" required>
	  </div>
	  <div class="form-group">
	    <label>Zip</label>
	    <input type="text" class="form-control" placeholder="Zip Code" name="addressZip" required>
	  </div>
	  <div>
	  	<label class="custom-control custom-checkbox">
		  	<input type="checkbox" class="form-check-input" name="update_address">
		  	Make this my default address and update it in the database.
			</label>
	  </div>
	  <button type="submit" class="btn btn-default register-submit-btn">Submit</button>
	  
	</form>

</div>