html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.jumbotron-fluid {
    background-image: url('../images/header7.jpg');
    height: 550px;
    padding-top: 20px;
}

.header-text {
    color: 	#6290C8;	
}

.btn-primary {
    background-color:  #45bcae;
    border-color:  #45bcae;
}

.howitworks {
    text-align: center;
    margin-bottom: 20px;
}

.steps {
    text-align: center;
    margin-top: 50px;
}

.homepage-icons {
    font-size: 50px;
    /* text-align: right; */
    color: #6290C8;
}

.register-container {
    width: 80%;
    background-color: #c0d2e9;
    margin-top: 20px;
}

.register-submit-btn {
    margin-bottom: 20px;
    background-color:  #45bcae;
    border-color:  #45bcae;
}

.register-message-div {
    color: red;
}

.product-card {
    margin: 20px;
}

.card-img-top {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
    margin: 0 auto;
}

.login-btn {
    border-color:  #45bcae;
    width: 80px;
}

nav {
    flex-shrink: 0;
}

.nav-nonbtn {
    padding-top: 15px;
}

.footer {
    margin-top: 75px;
    flex-shrink: 0;
}

.social-icons {
    font-size: 30px;
    text-align: center;
}

.soc-icn {
    margin: 0 10px 0 10px;
}

.phone-number, .address {
    margin-left: 10px;
}

.order-header, .order-success-header {
    margin: 20px 0px 0px 20px;
}

.order-subheader, .order-success-subheader {
    margin-left: 40px;
}

.shipping-address {
    margin-left: 60px;
}

/* old background color and text color - #6290C8 and #ffd3b6 */