.jumbotron-fluid {
    background-image: url('../images/header7.jpg');
    height: 550px;
    padding-top: 20px;
}

.header-text {
    color: 	#ffaaa5;	
}

.btn-primary {
    background-color: #20DE89;
    border-color: #20DE89;
}

.howitworks {
    text-align: center;
    margin-bottom: 20px;
}

.steps {
    text-align: center;
}

.homepage-icons {
    font-size: 50px;
    /* text-align: right; */
    color: #ffaaa5;
}

.register-container {
    background-color: #ffd3b6;
    margin-top: 20px;
}